/* Navbar */
.navbar-brand {
    font-size: 2rem;
}

/* Make search input big like Amazon */
form.d-flex input {
    height: 45px;
    font-size: 1rem;
}

/* Card images uniform */
.card-img-top {
    height: 180px;
    object-fit: cover;
}

/* Carousel height control */
.carousel-inner img {
    max-height: 350px;
    object-fit: cover;
}

/* Hover effect */
.hover-scale:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}